<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>



<body>
    
<header th:replace="fragments/header :: header"></header>

    <h1>Listar Ventas</h1>

    <table border="1">

        <thead>
            <tr>
                <th>Fecha</th>
                <th>Sucursal</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="v : ${lista}">
                <td>
                    <a th:href="@{/ventas/{id}(id=${v.id})}" th:text="${v.fecha}">
                    </a>
                </td>
                <td th:text="${v.sucursal}"></td>
            </tr>
        </tbody>

    </table>

    <a th:href="@{/ventas/nueva}">Nueva Venta</a>


</body>

</html>